.icon:hover{
    transform: scale(1.2);
}
.Footer-Container{
    height : 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
.Footer-Container h3{
    color:#f77707;
    margin-top: 12% ;
}
.Footer-Container ul{
    margin-top:-10%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: -5%;
}
.icon{
    background-color: black;
    margin-top: -10%;
    height: 2.5vh;
    width: 2.5vw;
    display: flex;
    align-self: center;
    justify-self: center;
}
a{
    text-decoration: none;
    color: black;
}